@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* the quick fixed */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

div{
    border: 10px solid blue;
    padding: 10px;
    margin: 10px;

}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
}